.container {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
}

header,
footer {
    width: 100%;
    padding: 18px;
    box-sizing: border-box;
    background-color: darkslategray;
    color: white;
    border: 2px solid grey;
    margin-bottom: 20px;
}

main {
    width: 100%;
    box-sizing: border-box;
}

.columns {
    width: 100%;
    overflow: auto;
    box-sizing: border-box;
}

.column1,
.column2 {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 15px;
}

.column3 {
    clear: both;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
}

img {
    max-width: 100%;
    height: auto;
}